/*网站热帖*/
.site .list-group-item {
  padding: 9.5px 15px;
}
/*进度条*/
.progress{
  margin-bottom: 25px;
}
/*媒体对象图像*/
.wh64{
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
/*contact*/
.contact{
  margin: 22px 0;
}
/*内容管理*/
.article{
  margin-top: 10px;
}
/*标签管理*/
.tag-list{
  margin-top: 10px;
}
.tag-item{
  margin-right: 10px;
}
/*footer*/
footer{
  text-align: center;
  margin-top: 15px;
}